


:root {


    /*font sizes*/
    --font-size-s: 0.9rem;
    --font-size-n: 1rem;
    --font-size-m: 1.12rem;
    --font-size-l: 1.5rem;
    --font-size-xl: 2rem;
    --font-size-xxl: 2.3rem;
    --font-size-xxxl: 3rem;
    

    /*Font weight*/
    --font-weight-normal: 400;
    --font-weight-medium: 500;
    --font-weight-semibold: 600;
    --font-weight-bold: 700;

}


body{

    min-height: 100vh;
    background: #81c4e0;
    
}

h1 {

    font-size: var(--font-size-xxxl);
    font-weight: var(--font-weight-bold);
    font-family: sans-serif;
    text-align: center;

}

h2{
    font-family: sans-serif;
    font-size: var(--font-size-xl);
}

#paragraph2{

    background-color: white;
    width: 850px;
    line-height: 30px;
    border: 5px solid green;
    padding: 30px;
    margin: 20px;

}


.blue {

    background-color: rgb(0, 39, 111);
    color: rgb(255, 255, 255);
    border: 2px solid rgb(0, 0, 0);
    padding: 15px;

}

ol li { 

    list-style-type: decimal-leading-zero;
    

}

ol li::marker {

    font-size: var(--font-size-l);

}

article ol li a:link {

    color: rgb(18, 1, 126);

}

section p a:link {

    color: rgb(118, 7, 29);

}

article h2 {

    font-size: var(--font-size-xl);
}

section h3 {

    font-size: var(--font-size-l);
}

table {

    border-collapse: collapse;
    width: 45%;
}

tr, th, td {
    border: 1px solid #000000;
    padding: 10px;

}

th {
    background-color: rgb(201, 201, 201);
    padding: 3px;
}

td{
    background-color: white;
}
